<h2 class="my-4">Cadastro de Cliente</h2>
<form (ngSubmit)="cadastrarPedido(formId)" #formId="ngForm"  method="post">
    <select *ngIf="clientes != ''" class="form-select mb-3" aria-label="Selecione o cliente" name="clienteId" ngModel>
      <option value="" disabled>Selecione o cliente</option>
      <option *ngFor="let cliente of clientes" value="{{cliente.id}}">
        {{cliente.nome}}
      </option>
    </select>
    
    <ng-multiselect-dropdown
      [placeholder]="'Selecione o(s) produto(s)'"
      [settings]="dropdownSettings"
      [data]="produtos"
      name="produtosId"
      (onSelect)="somarValores($event)"
      ngModel
    >
</ng-multiselect-dropdown>
    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>