<style>
    .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: .3rem;
    }
  
    a {
      text-decoration: none;
    }
</style>
<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Gestão de Vendas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a routerLink="/cadastro-clientes">Clientes</a>
            <a routerLink="/cadastro-produtos">Produtos</a>
            <a routerLink="/cadastro-pedido">Pedido de venda</a>
          </div>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Gestão de Vendas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/cadastro-clientes">Clientes</a>
        <a class="nav-link" routerLink="/cadastro-produtos">Produtos</a>
        <a class="nav-link" routerLink="/cadastro-pedido">Pedido de venda</a>
      </div>
    </div>
  </div>
</nav>
