<h2>Cadastro de Cliente</h2>
<form (ngSubmit)="cadastrarCliente(formId)" #formId="ngForm"  method="post">
    <div class="mb-3">
        <label for="nomeCliente" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nomeCliente" placeholder="Insira o nome do cliente"
        ngModel name="nome" required>
    </div>
    <div class="mb-3">
        <label for="cpfCliente" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpfCliente" 
        maxlength="14" placeholder="Insira o CPF do cliente" name="cpf" ngModel required>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <label for="logradouro" class="form-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" placeholder="Ex: Rua 11"
                [maxLength]="60" name="logradouro" ngModel required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input type="number" class="form-control" id="numero" ngModel
                name="numero" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Ex: Casa 03"
                [maxLength]="20" name="complemento" ngModel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" 
            placeholder="Ex: São Paulo" [maxLength]="50" ngModel
            name="cidade" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" 
            placeholder="Ex: Penha" [maxLength]="50" ngModel
            name="bairro" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="cidade" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" 
            placeholder="Ex: 01000-000" [maxLength]="9" ngModel
            name="cep" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="email" 
            placeholder="Ex: thiago@teste.com.br" [maxLength]="50" ngModel
            name="email" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="dataNasc" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="dataNasc" ngModel
            name="dataNasc" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>